*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}
.hero
{
    width: 100%;
    min-height: 100vh;
    background: #eceaff;
    color: #525252;
}
nav{
    background: #1a1a1a;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    position: relative;   
}
ul
{
    /* background: blue; */
    display: flex;
    width: 70%;
    justify-content: right;
    margin-left: 18%;
    align-items: center;
    list-style: none;
    

}
ul li a
{
    text-decoration: none;
    font-size: 24px;
    color: #eceaff;
    padding: 20px;
    
}
.user-pic
{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}
.logo
{
    width: 120px;
}
.sub-menu-wrap
{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden !important;
    transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu
{
    max-height: 400px;
}
.sub-menu
{
    background-color: #fff;
    padding: 20px;
    margin: 10px;
}
.user-info
{
    display: flex;
    align-items: center;

}
.user-info h2{font-weight: 500 !important;}
.user-info img{width: 60px;
     
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr
{
    width: 100%;
    border: 0;
    height: 2px;
    background: #ccc;
    margin: 15px 0 10px;
}
.sub-menu-link
{
   display: flex;
   align-items: center;
   text-decoration: none;
   color: #525252;
   margin: 12px 0; 
}
.sub-menu-link p
{
    width: 100%;
}
.sub-menu-link img
{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}
.sub-menu-link span
{
    font-size: 22px;
    font-weight: 500px;
    transition: transform 0.5s;

}
.sub-menu-link:hover span
{
    transform: translate(5px);
}
.sub-menu-link:hover p
{
    font-weight: 600;   
}
